# pnpm setting
shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true

save-exact=true

# publish setting
registry=https://registry.npmjs.org/
publish-branch=main
git-checks=true

node-options=--max-old-space-size=4096
